# Variables de entorno para KinalSports Client User

# URL de la API de autenticación (auth-service)
EXPO_PUBLIC_AUTH_URL=http://localhost:3007/api/v1/auth

# URL de la API de usuario (server-user)
EXPO_PUBLIC_USER_URL=http://localhost:3008/kinalSportsUser/v1
